<div id="form">
  <h2>Sign Up</h2>
  <form action="/auth/signup" method="POST">

    <label> Usertitle
      <input type="text" name="usertitle" placeholder="Your usertitle" />
    </label>

    <label> Email
      <input type="email" name="email" placeholder="Your email" />
    </label>

    <label> Password
      <input type="password" name="password" placeholder="Your password" />
    </label>

    <label for="profileImage">Profile Image</label>
    <input type="file" id="profileImage" title="profileImage">
   
    <button type="submit">Sign Up</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>