<body>
    <h1>Welcome to Your Profile</h1>
    <div>
        <p>Usertitle: {{ usertitle }}</p>
        <p>Email: {{ email }}</p>
        <img src="/uploads/{{ chosenProfile.profileImage }}" alt="Profile Image">
    </div>
    
    {{!-- <form method="post" action="/favorites">
        <label for="gameTitle">Add Game to Favorites:</label>
        <input type="text" id="gameTitle" title="gameTitle" required>
        <button type="submit">Add</button>
    </form> --}}
    <a href="/favorites">See Favorites</a>
    <a href="/logout">Logout</a>
</body>
</html>