
    <h1>{{username}} Favorite Games</h1>
    <ul>
        {{#each favorites}}
        <li>
            <h1>{{this.title}}</h1>
            <h2>{{this.category}}</h2>
            <h3>{{this.mode}}</h3>

            <button href="" type="submit">Remove</button>
        </li>
        {{/each}}
        
    </ul>
    <a href="/">Home</a>
