<!DOCTYPE html>
<html>
<head>
    <title>Favorites</title>
</head>
<body>
    <h1>Favorite Games</h1>
    <ul>
        {{#each favoriteGames}}
        <li>
            <h2>{{ title }}</h2>
        </li>
        {{/each}}
    </ul>
    <a href="/">Home</a>
</body>
</html>