<div class="container text-center">
    <h1>{{usertitle}}: Favorite Games</h1>
    <ul class="list-unstyled">
        {{#each favorites}}
        <li class="mb-4">
            <h2>{{this.title}}</h2>
            <img src="{{this.image}}" class="favorite-image img-fluid" alt="Game Image">

            <form action="/removeFavorites/{{this._id}}" method="post">
                <button type="submit" class="btn btn-danger mt-2">Remove</button>
            </form>
        </li>
        <hr>
        {{/each}}
    </ul>
    <a href="/" class="btn btn-primary">Home</a>
    <a href="/games" class="btn btn-secondary">Games List</a>
</div>




