<div>
    <h2>Updating {{game.title}}</h2>
    <div id="celeb-create">
        <form action="/games/{{game._id}}/edit" method="post">
        <label> Title:
            <input type="text" name="title" value="{{game.title}}"/>
        </label>
        

        <div>
            <label for="category">Choose the category:</label>
            <select name="category" id="mode" multiple>
            <option value="1-player">1 Player</option>
            <option value="multiplayer">Multiplayer</option>
            <option value="cooperative">Cooperative</option>
            <option value="remote-play">Remote Play</option>
            </select>
        </div>
        
        <label> Description:
            <textarea name="review" cols="30" rows="4">{{game.review}}</textarea>
        </label>
        
        <div>
            <label for="mode">Choose the mode:</label>
            <select name="mode" id="mode" multiple>
            <option value="RPG">RPG</option>
            <option value="Sports">Sports</option>
            <option value="Strategy">Strategy</option>
            <option value="Action">Action</option>
            </select>
        </div>

        <button type="submit">Save changes</button>
        </form>
    </div>
    <a href="/">Home Page</a>
</div>