<div>
    <h2>New Game</h2>
    <div id="celeb-create">
        <form action="/games/create" method="post">
        <label> Title:
            <input type="text" name="title" />
        </label>
        
        <label> Category:
            <input type="text" name="category" />
        </label>

        <label> Description:
            <textarea name="description" cols="30" rows="4"> </textarea>
        </label>
        
        <label> Review:
            <textarea name="review" cols="30" rows="4"> </textarea>
        </label>
        
        <div>
            <label for="mode">Choose the mode:</label>
            <select name="mode" id="mode" multiple>
            {{#each types}}
            <option value="{{_id}}">{{title}}</option>
            {{/each}}
            </select>
        </div>

        <button type="submit"> Save entry </button>
        </form>
    </div>
    <a href="/games">Games list</a>
    <a href="/">Home Page</a>
</div>