<div>
    <h2>New Type</h2>
    <div id="celeb-create">
        <form action="/types/create" method="post">
        <label> Title:
            <input type="text" name="title" />
        </label>
        
        <label> Category:
            <input type="text" name="category" />
        </label>
        
        <label> Description:
            <textarea name="description" cols="30" rows="4"> </textarea>
        </label>
        
        <label> Review:
            <textarea name="review" cols="30" rows="4"> </textarea>
        </label>

        <button type="submit"> Save new entry </button>
        </form>
    </div>
    <a href="/types">All types</a>
    <a href="/">Home Page</a>
</div>