<div>
    <h2>New Type</h2>
    <div id="celeb-create">
        <form action="/types/create" method="post">
        <label> Title:
            <input type="text" name="title" />
        </label>
        
        <label> Category:
            <input type="text" name="category" />
        </label>
        
        <label> Description:
            <textarea name="description" cols="30" rows="4"> </textarea>
        </label>
        <div>
            <label for="mode">Choose the mode:</label>
            <select name="mode" id="mode" multiple>
            <option value="RPG">RPG</option>
            <option value="Sports">Sports</option>
            <option value="Strategy">Strategy</option>
            <option value="Action">Action</option>
            </select>
        </div>
        <button type="submit"> Save new entry </button>
        </form>
    </div>
    <a href="/types">All types</a>
    <a href="/">Home Page</a>
</div>