<div>
    <h2>All types</h2>
<div>
    <h2>Types list</h2>
    <section>
        {{#each types}}
        <div>
            <h4>{{mode}}</h4>
            <a href="/types/{{_id}}">See More</a>
        </div>
        {{/each}}
    </section>

    <hr>
    <h1>STRATEGY:</h1>
    {{#each strategyGames}}
    <p>{{this.title}}</p>
    <a href="/games/{{this._id}}">See More</a>
    {{/each}}
    <a href="/">Home Page</a>
</div>